 <div class="user-details">
  <h1> About </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Methodologies</h2>
      <img alt="UVM" src="{{ "/assets/img/UVM_logo.jpg" | prepend: site.baseurl }}" />
      <img alt="cocotb" src="{{ "/assets/img/cocotb.png" | prepend: site.baseurl }}" />
      <p>Main methodologies I use in my verification projects</p>
    </div>
    <div class="tech">
      <h2>Languages</h2>
      <img alt="systemverilog" src="{{ "/assets/img/sv.png" | prepend: site.baseurl }}" />
      <i class="devicon-python-plain colored"></i>
      <i class="devicon-c-line-wordmark colored"></i>
      <p>Main languages ​​I use when building my verification environments</p>
    </div>
</div>
