 <div class="user-details">
  <h1> About </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Methodologies</h2>
      <img alt="UVM" src="{{ "/assets/img/UVM_logo.jpg" | prepend: site.baseurl }}" />
      <i>cocoTB</i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Languages</h2>
      <img alt="systemverilog" src="{{ "/assets/img/sv.png" | prepend: site.baseurl }}" />
      <i class="devicon-python-plain colored"></i>
      <i class="devicon-c-line-wordmark colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
</div>
